#
# {{ ansible_managed }}
#

ExcludePath ^/proc/
ExcludePath ^/sys/

User clamscan
PidFile /var/run/clamav/clamd.pid

LocalSocketMode 660
LocalSocketGroup virusgroup
LocalSocket /var/run/clamav/clamd.sock
FixStaleSocket yes

# Без этого праметра сервис ругается на
# clamav Failed to change socket ownership to group clamupdate
# AllowSupplementaryGroups yes

LogTime yes
LogFileMaxSize 0
LogFile /var/log/clamav/clamd.log

TemporaryDirectory /var/tmp
DatabaseDirectory /var/lib/clamav

MaxConnectionQueueLength 30
MaxThreads 50
ReadTimeout 300

ScanPE yes
ScanELF yes
ScanOLE2 yes
ScanMail yes
ScanArchive yes

ArchiveBlockEncrypted no

AlertBrokenExecutables yes
AlertEncrypted yes
AlertEncryptedArchive yes
AlertEncryptedDoc yes